Options -Indexes
RewriteEngine on

# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
# END GZIP

RewriteRule ^$ /beats.php

RewriteRule ^download$ /download/ [r=301]
RewriteRule ^download/$ /download.php
RewriteRule ^examples$ /examples/ [r=301]
RewriteRule ^examples/$ /examples.php
RewriteRule ^strategyguide$ /strategyguide/ [r=301]
RewriteRule ^strategyguide/$ /docs.php
RewriteRule ^tutorial$ /tutorial/ [r=301]
RewriteRule ^tutorial/$ /tutorial.php
RewriteRule ^usage$ /usage/ [r=301]
RewriteRule ^usage/$ /usage.php
RewriteRule ^how_it_works$ /how_it_works/ [r=301]
RewriteRule ^how_it_works/$ /how_it_works.php
