html {
  font-size: 24px;
}

body {
  background: #fff url('dot.png');
  background-size: 24px 36px;
  margin: 0;
  line-height: 1.5em;
  font-family: eurostile, "helvetica neue", arial, sans-serif;
  color: #535353;
  text-rendering: optimizeLegibility;
}

a {
  color: #00b12e;
}

a.toggle {
  margin-bottom: 1.5em;
  display: inline-block;
}

.menubar {
  background: #fff;
  max-width: 576px;
  margin: 1.5em auto;
  padding: 0 0.5em;
}

.menubar ul {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.menubar li {
  list-style: none;
  float: left;
  margin-right: 1.0em;
  font-weight: bold;
}


.content-box {
  background: #fff;
  max-width: 576px;
  margin: 3.0rem auto;
  padding: 0 0.5rem;
}

@media (min-width: 744px) {
  .menubar {
    padding: 0 1.5rem;
  }

  .content-box {
    padding: 0 1.5rem;
  }
}

.content-box h1 {
  font-size: 3.0em;
  line-height: 1.0em;
  margin: 0;
  color: #00b12e;

  background: url(logo.png) center left no-repeat;
  background-size: auto 50px;
  text-indent: -5000px;
  height: 72px;
  outline: 0;

  /* Following added to fix IE bug with text-indent property */
  font-size: 0;
  display: block;
  line-height: 0;
}

.content-box h2 {
  color: #00b12e;
  margin: 0 0 1.0em 0;
  font-size: 1.5em;
  line-height: 1.0em;
}

.content-box h3 {
  margin: 0;
  font-size: 1.0em;
  line-height: 1.5em;
}

.content-box p {
  margin: 0 0 1.5em 0;
  font-weight: bold;
}

.content-box p.last {
  margin-bottom: 0;
}

pre {
  margin: 0 0 3.0em 0;
  font-size: 0.5em;
  line-height: 1.5em;
  letter-spacing: 0.45em;
  max-width: 100%;
  overflow: auto;
}

pre.single-line {
  line-height: 36px;
}

pre code {
  line-height: 16px;
}

code {
  margin: 0;
  font-family: menlo, consolas, monaco, courier, monospace;
  font-weight: normal;
  line-height: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

ol {
  margin-top: 0;
  margin-bottom: 1.5em;
}

ul li {
  list-style-type: none;
  line-height: 1.5em;
}

ul.bulleted li {
  list-style-type: disc;
  list-style-position: inside;
}

ol li {
  line-height: 1.5em;
  font-weight: bold;
}

ul li.drumkit {
  margin-bottom: 3.0em;
}

ul.sample-list li {
  font-size: 1.0em;
  line-height: 1.5em;
}

label {
  width: 50%;
  display: inline-block;
}

label.example-song {
  width: 35%;
}

audio {
  width: 50%;
  vertical-align: top;
}

audio.home-page {
  width: 100%;
  vertical-align: baseline;
}

audio.tutorial {
  width: 100%;
}

audio.example-song {
  width: 55%;
}

div#about {
  text-align: center;
  padding-bottom: 0;
}

h2#strategy-guide {
  margin-bottom: 0;
}

.note {
  font-style: italic;
  color: #ccc;
}

.difference {
  background: yellow;
}

.content-box h3.mt {
  margin-top: 1.5em;
}
