html {
  font-size: 24px;
}

body {
  background: #fff;
  margin: 0;
  line-height: 1.5rem;
  font-family: eurostile, "helvetica neue", arial, sans-serif;
  color: #535353;
  text-rendering: optimizeLegibility;
}

.display-none { display: none; }
.flex { display: flex; }
.flex-fill { flex: 1; }

.bold { font-weight: bold; }

a {
  color: #00b12e;
}

a.toggle {
  margin-bottom: 1.5rem;
  display: inline-block;
}

.menu-header {
  border-bottom: 1px solid #535353;
  box-sizing: border-box;
  padding: 0.5rem;
}

#menu-mobile-header {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  text-decoration: none;
  color: #535353;
}

.menubar ul {
  margin: 0;
  padding: 0;
}

.menubar li {
  list-style: none;
  font-weight: bold;
}

.content-box {
  background: #fff;
  max-width: 576px;
  margin: 3.0rem auto;
  padding: 0 0.5rem;
}

@media (min-width: 648px) {   /* 576 + (12px padding * 2) + (24 * 2) */
  body {
    background-image: url('dot.png');
    background-size: 24px 36px;
  }

  #menu-mobile-header {
    display: none;
  }

  .menu-header {
    border-bottom: 0;
    padding: 0;
  }

  .menubar {
    background: #fff;
    display: block;
    max-width: 576px;
    margin: 1.5rem auto;
    padding: 0 0.5rem;
  }

  .menubar ul {
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  .menubar li {
    list-style: none;
    float: left;
    margin-right: 1.0rem;
    font-weight: bold;
  }

  .menubar li:last-child {
    margin-right: 0;
  }
}

@media (min-width: 744px) {
  .menubar {
    padding: 0 1.5rem;
  }

  .content-box {
    padding: 0 1.5rem;
  }
}

.content-box h1 {
  font-size: 3.0rem;
  line-height: 1.0em;
  margin: 0;
  color: #00b12e;

  background: url(logo.png) center left no-repeat;
  background-size: auto 50px;
  text-indent: -5000px;
  height: 72px;
  outline: 0;

  /* Following added to fix IE bug with text-indent property */
  font-size: 0;
  display: block;
  line-height: 0;
}

.content-box h2 {
  color: #00b12e;
  margin: 0 0 1.5rem 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.content-box h3 {
  margin: 0;
  font-size: 1.0rem;
  line-height: 1.5rem;
}

.content-box p {
  margin: 0 0 1.5rem 0;
  font-weight: bold;
}

.content-box p.last {
  margin-bottom: 0;
}

pre {
  margin: 0 0 1.5rem 0;
  font-size: 0.5rem;
  line-height: 0.75rem;
  letter-spacing: 0.45em;
  max-width: 100%;
  overflow: auto;
}

pre.single-line {
  line-height: 1.5rem;
  margin-bottom: 0;
}

pre code {
  line-height: 0.6666666667rem;
}

code {
  margin: 0;
  font-family: menlo, consolas, monaco, courier, monospace;
  font-weight: normal;
  line-height: 0.6666666667rem;
}

ul {
  margin: 0;
  padding: 0;
}

ol {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul li {
  list-style-type: none;
  line-height: 1.5rem;
}

ul.bulleted li {
  list-style-type: disc;
  list-style-position: inside;
}

ol li {
  line-height: 1.5rem;
  font-weight: bold;
}

ul li.drumkit {
  margin-bottom: 3.0rem;
}

ul.sample-list li {
  font-size: 1.0rem;
  line-height: 1.5rem;
}

label {
  width: 50%;
  display: inline-block;
}

.example-label {
  width: 6.0rem;
}

audio {
  width: 50%;
  vertical-align: top;
}

audio.home-page {
  width: 100%;
  height: 1.5rem;
  display: block;
}

audio.tutorial {
  width: 100%;
  height: 1.5rem;
  display: block;
}

div#about {
  text-align: center;
  padding-bottom: 0;
}

h2#strategy-guide {
  margin-bottom: 0;
}

.note {
  font-style: italic;
  color: #ccc;
}

.difference {
  background: yellow;
}

.content-box h3.mt {
  margin-top: 1.5rem;
}
