body
{
	background: #fff url('dot.png');
	margin: 0px;
	font-size: 24px;
	line-height: 1.5em;
	font-family: eurostile, "helvetica neue", arial, sans-serif;
	color: #535353;
}

.menubar
{
	background: #fff;
	width: 576px;
	margin: 1.5em auto;
	padding: 0px 36px 0px 36px;
}

.menubar ul
{
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

.menubar li
{
	list-style: none;
	float: left;
	width: 192px;
	font-weight: bold;
}

.menubar li a
{
	color: #00b12e;
}

.content-box
{
	background: #fff;
	width: 576px;
	margin: 3.0em auto;
	padding: 0px 36px 0px 36px;
}

.content-box h1
{
	font-family: eurostile;
	font-size: 72px;
	line-height: 72px;
	margin: 0px;
	color: #00b12e;
	
	background: url(logo.png) center left no-repeat;
	text-indent: -5000px;
	height: 72px;
	outline: 0px;
	
	/* Following added to fix IE bug with text-indent property */
	font-size: 0px;
	display: block;
	line-height: 0px;
}

.content-box h2
{
	color: #00b12e;
	margin: 0.0em 0.0em 1.0em 0.0em;
	font-size: 36px;
	line-height: 36px;
}

.content-box a
{
	color: #00b12e;
}

.content-box p
{
	margin: 0.0em 0.0em 1.5em 0.0em;
	font-weight: bold;
}

.content-box p.last
{
	margin-bottom: 0.0em;
}

pre
{
	margin: 0.0em 0.0em 3.0em 0.0em;
	font-size: 12px;
	line-height: 1.5em;
	letter-spacing: 0.45em;
}

pre.single-line
{
	line-height: 36px;
}

pre code
{
	line-height: 16px;
}

code
{
	margin: 0px;
	font-family: menlo, consolas, monaco, courier, monospace;
	font-weight: normal;
	line-height: 16px;
}

li
{
	list-style-type: square;
}

div#about
{
	text-align: center;
	padding-bottom: 0.0em;
}